$toolbar_font_size: calc(1.2rem + 0.1vw);
$result_title_font_size: calc(1.5rem + 0.25vw);
$result_text_font_size: calc(1.1rem + 0.05vw);

.browse {
    flex-grow: 1;
    height: -webkit-fill-available;
    width: 95%;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
    
    .animate__animated{
        animation-duration: 0.5s;
    }
    .browse_toolbar {
        height: 90%;
        padding: 12px;
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .browse_input_container {
            font-size: $toolbar_font_size;
            margin-top: 25px;
            width: 100%;
            input {
                font-size: $toolbar_font_size;
                background: transparent;
                border: none;
                padding: 0;

                border-bottom: 2px solid hsla(0, 0%, 0%, 20%);
                border-radius: 0;
                transition: border-bottom 0.3s;
            }
            select {
                font-size: $toolbar_font_size;
                background-color: transparent;
                border: none;
                cursor: pointer;
                padding: 3px;
                border-bottom: 2px solid hsla(0, 0%, 0%, 20%);
                border-radius: 0;
                transition: border-bottom 0.3s;
            }
            input:focus {
                border-bottom: 2px solid hsla(0, 0%, 0%, 100%);
                box-shadow: none;
                color: black;
            }
            select:focus {
                border-bottom: 2px solid hsla(0, 0%, 0%, 100%);
                box-shadow: none;
                color: black;
            }
        }
    }
    .browse_results {
        height: 90%;
        overflow-y: auto;
    }
    
}
@media screen and (max-width: 750px) {
    .browse_results{
        height: fit-content !important;

    }
    .browse_toolbar{
        height: auto !important;
    }
    .browse{
        grid-template-columns: 1fr !important;
    }
}

@media screen and (max-width: 1200px) {
    .browse {
        --browse_item_width_percentage: 42%;
    }
}
@media screen and (min-width: 1200.01px) {
    .browse {
        --browse_item_width_percentage: 28%;
    }
}
@media screen and (max-width: 750px) {
    .browse {
        --browse_item_width_percentage: 90%;
    }
}