$main_font_size: calc(1.2rem + 0.4vw);
$title_font_size: calc(1.25rem + 0.65vw);
$heading_font_size: calc(1.5rem + 0.9vw);
.game {
    flex-grow: 1;
    height: -webkit-fill-available;
    width: 100%;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.quiz_title {
    font-size: $heading_font_size;
    margin-bottom: 10px;
    font-weight: bolder;
}
.lobby {
    width: 95%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.participants_span {
    margin-top: 30px;
}
.heading {
    font-size: $heading_font_size;
    font-weight: bolder;
}
.start_button {
    margin-top: 20px;
    width: 50%;
    max-width: 175px;
    font-size: $heading_font_size;
}
.participants_container {
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: $title_font_size;
}
.participant {
    margin: 30px;
    animation-duration: 0.4s !important;
}
.username_prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    * {
        font-size: $title_font_size;
    }
    button {
        margin-top: 20px;
        width: 50%;
        max-width: 175px;
    }
}
.username_input {
    font-size: $title_font_size;
    background: transparent !important;
    border: none;
    padding: 0;

    border-bottom: 2px solid hsla(0, 0%, 0%, 20%);
    border-radius: 0;
    transition: border-bottom 0.3s;
}
.username_input:focus {
    border-bottom: 2px solid hsla(0, 0%, 0%, 100%);
    box-shadow: none;
    color: black;
}
.join_code {
    margin-bottom: 10px;
    font-size: $title_font_size;
    word-break: break-all;
}
.game_results {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*
    > div{
        flex: 1 1 0px;
        overflow: auto;
    }
    */
}
.quiz {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: 7fr 2fr;

    * {
        font-size: $main_font_size;
    }
}
.game_results {
    * {
        font-size: $main_font_size;
    }
    .user_scores {
        width: 95%;
        max-width: 650px;
    }
}
.question_info {
    display: flex;
    flex-direction: column;
}
.question_text_container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question_text {
    max-width: 650px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question_indicator {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.answer_choices {
    width: 100%;
    text-align: center;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.answer_choice {
    height: 95%;
    min-height: 85px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px;
    margin: 8px;
    padding: 12px;
    border-radius: 12px;
    background-color: hsla(0, 0%, 0%, 80%);
    transition: background-color 0.3s;
    cursor: pointer;
}
.answer_choice:hover {
    background-color: hsla(0, 0%, 0%, 100%);
}

.incorrect {
    background-color: var(--bs-danger) !important;
}

.correct {
    background-color: var(--bs-success) !important;
}


.selected {
    background-color: var(--bs-indigo) !important;
}


.quiz_top_part {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
}
.timer {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.progress_bar {
    background-color: white;
    border-radius: 12px;
    width: 100%;
    height: 40px;
}
.progress_bar_fill {
    //transition: width 0.3s;
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);

    border-radius: 12px;
    height: 40px;
}
.user_scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.table {
    th,
    td {
        text-align: center;
    }
    tr {
        border-color: black;
    }
    td{
        border-right: 1px solid black;
    }
    tbody tr{
        border-left: 1px solid black;
    }
}
.multi_choice_submit {
    margin-top: 20px;
    min-height: 55px;
    margin-bottom: 20px;
    width: 50%;
    max-width: 175px;
    margin: auto;
}
.margin_left_medium{
    margin-left: 15px;
}
.multi_choice_indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bs-secondary);
}
.height_full{
    height: 100% !important;
}
.your_answer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.answer_grid{
    overflow-x: auto;
    max-width: 1100px;
    padding: 12px;
    width: 100%;
}
.answers_breakdown{
    margin-top: 15px;
    width: 100%;
    max-width: 1100px;
}
.your_answer_mark{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
.answer_breakdown{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px;
    display: flex;
    flex-direction: column;
}
.rate{
    margin-bottom: 20px;
    
}
.rate_svg{
    width: clamp(45px, 6vw, 60px);
    height: auto;
    transition: fill 0.3s;
    cursor: pointer;
    fill: hsl(0, 0%, 71%);
    margin: 10px;
}
.rate_svg.positive:hover{
    fill: var(--bs-success);
}
.rate_svg.negative:hover{
    fill: var(--bs-danger);
}
.rate_svg.positive.active{
    fill: var(--bs-success);
    cursor: auto;
}
.rate_svg.negative.active{
    fill: var(--bs-danger);
    cursor: auto;
}

@media screen and (max-width: 750px) {
    .quiz {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .answer_choice {
        height: auto;
    }
    .question_text {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .answer_choices {
        margin-top: auto;
    }
    .quiz_top_part {
        grid-template-columns: 1fr;
    }
    .timer {
        order: 1;
        margin-top: 20px;
    }
    .user_scores {
        order: 0;
    }
    .question_info {
        order: 2;
    }
}
