$main_font_size: calc(1.2rem + 0.1vw);
$title_font_size: calc(1.35rem + 0.85vw);
$heading_font_size: calc(1.7rem + 0.9vw);
.game{
    height: 100%;
    width: 95%;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lobby{
    width: 95%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.participants_span{
    margin-top: 30px;
}
.heading{
    font-size: $heading_font_size;
}
.start_button{
    margin-top: 20px;
    width: 50%;
    max-width: 175px;
    font-size: $heading_font_size;
}
.participants_container{
    
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: $title_font_size;
}
.participant{
    margin: 30px;
    animation-duration: 0.4s !important;
}
.username_prompt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    *{
        font-size: $title_font_size;
    }
    button{
        margin-top: 20px;
        width: 50%;
        max-width: 175px;
    }
}
.username_input{
    font-size: $title_font_size;
    background: transparent !important;
    border: none;
    padding: 0;
    
    border-bottom: 2px solid hsla(0, 0%, 0%, 20%);
    border-radius: 0;
    transition: border-bottom 0.3s;
}
.username_input:focus{
    border-bottom: 2px solid hsla(0, 0%, 0%, 100%);
    box-shadow: none;
    color: black;
}
.join_code{
    font-size: $title_font_size;
}