$title_font_size: calc(1.25rem + 0.65vw);
$toolbar_font_size: calc(1.2rem + 0.1vw);
.login{
    width: 95%;
    flex-grow: 1;
    height: -webkit-fill-available;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 8px;
    .animate__animated{
        animation-duration: 0.5s;
        
    }
}