$main_font_size: calc(1.2rem + 0.4vw);
$title_font_size: calc(1.25rem + 0.65vw);
$heading_font_size: calc(1.5rem + 0.9vw);

.view_record{
    width: 95%;
    overflow: hidden;
    margin: auto;
    display: grid;
    flex-grow: 1;
    height: -webkit-fill-available;
    padding: 12px;
    .animate__animated{
        animation-duration: 0.5s;
        
    }
    font-size: $main_font_size
}