$title_font_size: calc(2rem + 1.2vw);
$heading_font_size: calc(1.35rem + 0.65vw);
$main_font_size: calc(1.2rem + 0.4vw);

@media screen and (max-width: 1750px) {
    .user_profile {
        --browse_item_width_percentage: 42%;
    }
}
@media screen and (min-width: 1750.01px) {
    .user_profile {
        --browse_item_width_percentage: 28%;
    }
}
@media screen and (max-width: 1000px) {
    .user_profile {
        --browse_item_width_percentage: 90%;
    }
}
.greeting{
    font-size: $heading_font_size;
    width: 100%;
}
.leave_svg{
    width: clamp(30px, 4.5vw, 45px);
    height: auto;
    fill: var(--bs-danger);
    margin-right: 2px;
}
.log_out{
    cursor: pointer;
    margin-left: 12px;
    margin-right: 12px;
    font-size: $heading_font_size;
}
.justify_end{
    justify-content: flex-end !important;
}
.flex_grow{
    flex-grow: 1;
}
.user_profile{
    width: 100%;
    overflow: hidden;
    margin: auto;
    display: grid;
    grid-template-columns: 45fr 55fr;
    grid-template-rows: 40fr 60fr;
    flex-grow: 1;
    height: -webkit-fill-available;
    padding: 12px;
    column-gap: 15px;
    .animate__animated{
        animation-duration: 0.5s;
        
    }
}

.created_quizzes{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    grid-column-end: 3;
    padding: 6px;
    height: 100%;
    > h2{
        text-align: center;
    }
}

.user_stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
}
.stats{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
}
.stat{
    font-size: $main_font_size;
    margin: 8px;
}
.records{
    overflow-y: auto;
    padding-top: 10px;
    padding-right: 6px;
    padding-left: 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.record{
    width: 100%;
    min-height: auto;
    height: fit-content;
    font-size: $main_font_size;
    display: grid;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    span{
        text-align: center;
    }
    
}

@media screen and (max-width: 750px) {
    .user_profile{
        grid-template-columns: 1fr;
        grid-template-rows: none;
        
    }
    .created_quizzes{
        grid-row-start: auto;
        grid-row-end: auto;
        grid-column-start: auto;
        grid-column-end: auto;
        height: fit-content;
    }
}